@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    font-family: "Inter", sans-serif;
}

body {
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: calc(100vh - 220px);
    overflow-y: auto;
    
}

h1 {
    font-size: 70px;
    font-weight: 900;
    color: #012676;
    margin-bottom: 100px;
    position: absolute;
}

a {
    text-decoration: none;
}

.prof_nav {
    height: 136px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    top: 200px;
    position: relative;
}

.prof_nav>a>div {
    color: white;
    background-color: #012676;
    padding: 1rem;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-radius: 4px;
    font-weight: 500;
    font-size: 32px;
}

.prof_nav>a:nth-child(4)>div {
    background-color: #DF0000;
}

.prof_nav>a>div>img {
    margin-left: auto;
    height: 40px;
    width: auto;
}

.gwiazdki {
    height: 70px;
    margin-bottom: 60px;
}

.prof {
    width: 500px;
}

.yellow{
    background-color: yellow;
    height: 70px;
    width: 100%;
    position: relative;
    top: -74px;
    z-index: -1;
}

.grey{
    background-color: grey;
    height: 70px;
    width: 100%;
    position: relative;
    top: -144px;
    z-index: -2;
}

.szablon{
    height: auto;
    width: 100%;
}

#pfp {
    border-radius: 50%;
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (width <= 1400px) {
    .container {
        flex-wrap: wrap;
    }
    .prof {
        order: 1;
        margin: auto;
        margin-top: 120px;
        top: 60px;
        position: relative;
    }
    .prof_nav>a {
        width: 35%;
        margin-right: 30px;
    }
    .prof_nav>a>div {
        width: 100%;
        font-size: 16px;
        height: 40px;
    }
    .prof_nav {
        order: 2;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    #pfp {
        border-radius: 50%;
        width: 60%;
        height: auto;
    }
    .prof_nav>a>div>img {
        margin-left: auto;
        height: 30px;
        width: auto;
    }
}

@media (width <= 500px) {
    .yellow {
        height: 60px;
        top: -64px;
    }
    
    .grey {
        height: 60px;
        top: -124px;
    }
}

@media (600px <= width <= 1400px) {
    .container {
        flex-wrap: wrap;
    }
    .prof {
        order: 1;
        margin: auto;
        margin-top: 120px;
        top: 60px;
        position: relative;
    }
    .prof_nav>a {
        width: 35%;
        margin-right: 30px;
    }
    .prof_nav>a>div {
        width: 100%;
        font-size: 16px;
        height: 40px;
    }
    .prof_nav {
        order: 2;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    #pfp {
        border-radius: 50%;
        width: 60%;
        height: auto;
    }
    .prof_nav>a>div>img {
        margin-left: auto;
        height: 30px;
        width: auto;
    }

}